.card {
  width: 90%;
  margin: 0 auto;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardTop {
  text-align: center;
  padding: 2rem 2rem 0 2rem;
}
.image {
  margin: 0 auto;
  border-radius: 50%;
}

.name {
  font-size: 3.14rem;
  background-color: #111;
  width: 61.8%;
  margin: 0 auto;
  padding: 0.618rem 1rem;
  color: #fff;
  border-radius: 5px;
  transform: translateY(-21px);
}
.title {
  font-size: 3rem;
  margin: 1rem auto;
  color: #111;
}

.cardDescription {
  background-color: rgba(17, 17, 17, 0.1);
  font-size: 2rem;
  line-height: 1.618;
  text-align: center;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  color: #6b7280;
}
