.card {
  width: 90%;
  min-height: max-content;
  margin: 3rem auto;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(17, 17, 17, 0.009);
  box-shadow: 0rem 0.1rem 0.618rem #6b7280;
}

.cardTop {
  text-align: center;
  padding: 2rem 2rem 0 2rem;
  height: 50%;
}
.image {
  margin: 0 auto;
  border-radius: 50%;
}

.name {
  font-size: 3.14rem;
  background-color: #111;
  width: max-content;
  margin: 0 auto;
  padding: 0.618rem 1rem;
  color: #fff;
  border-radius: 5px;
  transform: translateY(-21px);
}
.title {
  font-size: 3rem;
  margin: 1rem auto;
  color: #111;
}

.cardDescription {
  background-color: rgba(17, 17, 17, 0.1);
  font-size: 1.618rem;
  line-height: 1.618;
  text-align: center;
  padding: 3.14rem;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  color: #4b5563;
}

@media only screen and (min-width: 700px) {
  .card {
    width: 31%;
  }
  .cardDescription {
    padding: 2.14rem 1rem;
  }
}
