.contactFormSectionContainer {
  width: 90%;
  margin: 6.18rem auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1300px) {
  .contactFormSectionContainer {
    width: 60%;
    flex-direction: row;
  }
}
