.card {
  width: 100%;
  min-height: 21rem;
  border-radius: 1.618rem;
  border: 1px solid rgba(17, 17, 17, 0.322);
  margin: 1.618rem auto;
  padding: 0 3rem;
  text-align: center;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 2.618rem;
  color: #111;
}

.source {
  color: #6b7280;
  font-size: 2rem;
  position: absolute;
  right: 6.18%;
  bottom: 6.18%;
}
