.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

.listItem {
  margin: 1rem;
  padding: 1rem 2rem;
}

.active {
  margin: 1rem;
  padding: 1rem 2rem;
  color: #3b82f6;
  background-color: #6b728036;
  border-radius: 5px;
}

.listItem:hover {
  color: #3b82f6;
  background-color: #6b728036;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .list {
    display: none;
  }
}
