.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}

.listItem {
  margin: 0 1rem;
  padding: 1rem 2rem;
}

.active {
  margin: 0 1rem;
  padding: 1rem 2rem;
  color: #3b82f6;
}

.listItem:hover > a {
  color: #3b82f6;
  transition: background-color 162ms ease-out;
}

.icon {
  margin: 1rem;
}

.icon:hover {
  cursor: pointer;
  color: #3b82f6;
}

@media only screen and (max-width: 800px) {
  .list {
    display: none;
  }
}
