.sideDrawer {
  z-index: 30;
  background-color: #fff;
  color: #6b7280;
  font-size: 3.14rem;
  width: 78.6%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideDrawerEnterActive {
  transform: translate(-100%);
}
.sideDrawerEnterDone {
  transform: translate(0);
  transition: transform 314ms;
}
.sideDrawerExitActive {
  transform: translate(0);
}
.sideDrawerExitDone {
  transform: translate(-100%);
  transition: transform 314ms;
}

.list {
  width: 88.6%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menuHeader {
  color: #111;
  margin-top: 3rem;
  padding: 0 0 2rem 2rem;
  font-size: 5rem;
  width: 90%;
  border-bottom: 2px solid #6b728036;
}
.iconContainer {
  margin: 1rem auto;
  border-top: 2px solid #6b728036;
}

.icon {
  margin: 2rem;
  font-size: 4rem;
}
