.container {
  min-height: 100vh;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  margin-bottom: 3rem;
}

.titleWrapper {
  text-align: center;
  margin: 0 0 3.14rem;
}

.titleVidal {
  opacity: 0;
  transform: translate(-150px);
}

.title {
  color: #111;
  font-size: 8rem;
  opacity: 1;
  transition: opacity 1618ms ease-in, transform 1000ms ease-out;
}

.subHeadingStart {
  opacity: 0;
}

.subHeading {
  color: #6b7280;
  text-align: center;
  font-size: 2rem;
  margin: 0 0 3.618rem 0;
  opacity: 1;
  transition: opacity 1618ms ease-in-out;
}

.subHeading__text {
  margin: 0 0 3.14rem 0;
}

.buttonContainer {
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .container {
    width: 60%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .subHeading {
    font-size: 2rem;
  }

  .title {
    font-size: 8rem;
  }

  .divider {
    margin-right: 3rem;
  }
}
