.container {
  min-height: 95vh;
  width: 100%;
  margin: 0 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleWrapper {
  margin: 0 0 3.14rem;
}

.title {
  margin: 0 0 1rem 0;
  color: #111;
  font-size: 6.18rem;
}

.p {
  color: #6b7280;
  font-size: 3rem;
  margin: 0 0 3.618rem 0;
}

.p__text {
  margin: 0 0 3.14rem 0;
}
