.container {
  width: 80%;
  margin: 0 auto;
}

.statsHeader {
  font-size: 6.18rem;
  text-align: center;
}

.listContainer {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 60%;
  }
}
