.blogCard {
  color: #fff;
  overflow: hidden;
  margin: 2rem auto;
  width: 100%;
  min-height: 15rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0.1rem 0.618rem #6b7280;

  background: linear-gradient(
    135deg,
    rgba(17, 17, 17, 1),
    rgba(17, 17, 17, 0.9)
  );
}
.blogCard:hover {
  cursor: pointer;
  box-shadow: 0rem 0.1rem 0.886rem #6b7280;
}
.blogCard:active {
  cursor: pointer;
  box-shadow: 0rem 0.1rem 0.618rem #6b7280;
}

.contentsOfCard {
  width: 90%;
  height: 100%;
}

.blogCardTitle {
  margin: 0 0 0.3rem 0;
  font-size: 1.618rem;
}

.description {
  font-size: 1.2rem;
  margin: 0.5rem auto;
}

.author {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.span {
  margin: 2rem 1rem 0 0;
  font-size: 1rem;
}

@media only screen and (min-width: 700px) {
  .blogCard {
    width: 60%;
  }
}
