.blogCard {
  background-color: rgba(17, 17, 17, 0.908);
  color: #d1d5db;
  overflow: hidden;
  margin: 2rem auto;
  width: 100%;
  min-height: 16.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem 0 rgba(17, 17, 17, 0.356);
}
.blogCard:hover {
  cursor: pointer;
  background-color: rgba(17, 17, 17, 1);
  box-shadow: 0 0 1rem 0.5rem rgba(17, 17, 17, 0.2);
}
.blogCard:active {
  cursor: pointer;
  background-color: rgba(17, 17, 17, 1);
  box-shadow: 0 0 1rem 0.15rem rgba(17, 17, 17, 0.2);
}

.contentsOfCard {
  width: 90%;
  height: 100%;
}

.blogCardTitle {
  color: #e5e7eb;
  margin: 0 0 0.3rem 0;
  font-size: 1.6rem;
}

.description {
  font-size: 1.4rem;
  margin: 0.5rem auto;
}

.author {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.span {
  margin: 2rem 1rem 0 0;
  font-size: 1.1rem;
}

@media only screen and (min-width: 700px) {
  .blogCard {
    width: 90%;
  }
}
