.blogContainer {
  width: 100%;
  min-height: 100vh;
  margin: 6.18rem auto;
  font-size: 1.618rem;
  line-height: 1.5;
}

.blogTitle {
  font-size: 4rem;
  margin: 3.14rem auto 0 auto;
}

.blogAuthor {
  color: #6b7280;
  margin: 2rem 2rem 0 0;
}

.blogInfo {
  color: #6b7280;
  display: flex;
  justify-content: flex-start;
}

.blogInfo p {
  margin: 1rem 2rem 2rem 0;
}

.backToOtherBlogs {
  width: max-content;
  color: #fff;
  padding: 1rem;
  margin: 4rem 0 0 0;
  border-radius: 8px;
  background: #111;
}

@media only screen and (min-width: 700px) {
  .blogContainer {
    width: 65%;
  }
}
