.blogHeader {
  font-size: 4.18rem;
}

.blogContainer {
  min-height: 100vh;
  margin: 6.18rem auto 0 auto;
  margin-top: 6.18rem;
}

.blogListContainer {
  margin: 6rem auto;
  padding: 0;
}

@media only screen and (min-width: 700px) {
  .blogContainer {
    width: 90%;
  }
}
