.blogContainer {
  width: 100%;
  min-height: 100vh;
  margin: 6.18rem auto;
  font-size: 1.618rem;
}

.blogTitle {
  font-size: 3.14rem;
  margin: 3.14rem auto 0 auto;
}

.blogAuthor {
  color: #6b7280;
  margin: 0;
}

.blogInfo {
  color: #6b7280;
  display: flex;
  justify-content: flex-start;
}

.blogInfo p {
  margin: 0 1rem 1.618rem 0;
}

.backToOtherBlogs {
  color: #fff;
  padding: 1rem;
  margin: 2rem 0 0 0;
  border-radius: 8px;
  background: #111;
}
