.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 94vh;
  width: 80%;
  margin: 6.18rem auto 0 auto;
}
.pageHeader {
  font-size: 6rem;
  margin-bottom: 0;
  color: #111;
}

@media only screen and (min-width: 721px) {
  .pageContainer {
    width: 60%;
  }

  .pageHeader {
    margin: 0 0 3rem 0;
  }

  .introContainer {
    width: 90%;
  }

  .p {
    padding: 0 10%;
  }
}

.introContainer {
  margin: 3rem auto;

  padding: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoContainer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 90%;
  margin: 3rem auto;
  text-align: center;
}

.p {
  line-height: 1.618;
  color: #6b7280;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.sig {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0rem 0.1rem 0.618rem #6b7280;
  padding: 3rem 5rem;
  width: auto;
  height: 8rem;
  position: absolute;
  bottom: -5rem;
  right: -1rem;
}

.president {
  border-left: 2px solid #fff;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}
