.container {
  width: 100%;
  padding: 8rem 0;
  background: #111;
  margin: 8rem auto;
  font-size: 4.9rem;
  border-radius: 21px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.headers {
  margin: 0;
}

.headerContainer {
  color: #fff;
}

@media only screen and (min-width: 350px) {
  .container {
    padding: 8rem 3.14rem;
    font-size: 6.18rem;
  }
}

@media only screen and (min-width: 700px) {
  .container {
    flex-direction: row;
    font-size: 6.18rem;
  }
  .headers {
    padding: 0 0 0 15%;
  }
  .headerContainer {
    width: 50%;
  }
  .logo {
    width: 50%;
    margin: 0;
  }
}

.logo {
  display: flex;
  justify-content: center;
  transform: translate(-5px);
  margin: 3rem auto 0 auto;
}
