.start {
  opacity: 0;
}

.card {
  width: 90%;
  margin: 3.14rem 1rem;
  padding: 1rem 2.618rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 1.62px #6b7280;

  opacity: 1;

  transition: opacity 1618ms ease-in;
}

.svgClass {
  color: #111;
}

.title {
  margin-bottom: 0;
  font-size: 2rem;
}

.description {
  color: #6b7280;
  font-size: 1.618rem;
  line-height: 2.618rem;
  text-align: center;
}
