.start {
  opacity: 0;
}

.card {
  width: 90%;
  min-height: 40rem;
  margin: 2rem 1rem;
  padding: 1rem 2.618rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  background-color: transparent;

  /* animation settings */
  opacity: 1;
  transition: opacity 1618ms ease-in;
}

.title {
  margin-bottom: 0;
  font-size: 2rem;
  color: #f9fafb;
}

.description {
  color: #d1d5db;
  font-size: 1.618rem;
  line-height: 2.618rem;
  text-align: center;
}

@media only screen and (min-width: 1300px) {
  .card {
    width: 25%;
  }
}
