.start {
  opacity: 0;
}

.card {
  width: 90%;
  min-height: 40rem;
  margin: 2rem 1rem;
  padding: 1rem 2.618rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 1.62px #6b7280;

  /* animation settings */
  opacity: 1;
  transition: opacity 1618ms ease-in;
}

.title {
  margin-bottom: 0;
  font-size: 2rem;
}

.description {
  color: #6b7280;
  font-size: 1.618rem;
  line-height: 2.618rem;
  text-align: center;
}

@media only screen and (min-width: 1300px) {
  .card {
    width: 20%;
  }
}
