.start {
  opacity: 0;
  transform: translateY(100px);
}

.card {
  width: 90%;
  min-height: 30rem;
  border-radius: 5px;
  box-shadow: 0 0 1.62px #6b7280;
  margin: 2rem auto;
  padding: 0 2.5rem;
  text-align: center;

  /* relative to position the author */
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 1618ms ease-out, transform 1618ms ease-out;
}

.quote {
  font-size: 1.618rem;
  color: #6b7280;
}

.source {
  color: #111;
  font-size: 2rem;
  position: absolute;
  right: 6.18%;
  bottom: 6.18%;
}

@media only screen and (min-width: 1300px) {
  .card {
    width: 30%;
    padding: 0 2rem;
    margin: 0 auto;
  }
}
